.basket-header {
    padding: 50px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
}

.basket-main {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.basket-info {
    margin: 40px auto;
}

.basket-goods-info {
    display: flex;
    flex-direction: column;
}

.basket-goods {
    display: grid;
    grid-template-columns: 100px 1fr;
    /* flex-direction: row; */
    justify-content: center;
    width: 900px;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.basket-number {
    display: flex;
    /* justify-content: center; */
}

.basket-number span {
    padding: 5px 8px;
    /* background-color: #ddd; */
    border-radius: 5px;
    border: 1px solid #ddd;
}

.basket-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basket-image img{
    width: 100px;
}

.basket-title {
    font-weight: 700;
}

.basket-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basket-counter__plus {
    padding: 9px 15px;
    background-color: #ddd;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.basket-count {
    padding: 9px 15px;
    border: 1px solid #ddd;
}

.basket-counter__minus {
    padding: 9px 15px;
    background-color: #ddd;
    border-radius: 0 10px 10px 0;
    border: 1px solid #ddd;
    cursor: pointer;
}

.basket-counter__minus:hover,
.basket-counter__plus:hover{
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

.basket-counter__minus:active,
.basket-counter__plus:active{
    background-color: #b4b4b4;
    border: 1px solid #b4b4b4;
}


.basket-cost-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basket-cost {
    font-weight: 700;
}

.basket-stock {
    color: rgb(141, 141, 141);
}

.backet-delete img {
    scale: 0.5;
    cursor: pointer;
}

.backet-delete img:hover {
    transition: scale 0.4s;
    scale: 0.6;
}
.promo-and-average-cost{
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.promo-and-average-cost form{
    display: flex;
    align-items: center;
}

.promo-and-average-cost input[type="text"]{
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 10px;
}

.promo-and-average-cost input[type="button"]{
    border: 1px solid #ddd;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.promo-and-average-cost input[type="button"]:hover{
    background-color: #dddddd;
}

.promo-and-average-cost input[type="button"]:active{
    background-color: rgb(209, 209, 209);
}

.basket-average-cost{
    font-size: 20px;
    font-weight: 700;
}

.basket-button {
    display: flex;
    justify-content: end;
}

.basket-but-continue {
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    background-color: #49d455;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}

.basket-but-continue:hover {
    background-color: #3bc046;
}

.basket-but-continue:active{
    /* margin-top: -2px; */
    background-color: #2fad3a;
}

/* модальное окно */

.modal-dark-window{
    z-index: 10;
    background-color: rgba(88, 88, 88, 0.452);
    display: flex;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100vh; 
}

.modal-general-window{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    padding: 30px 5%;
    margin: auto;
    width: 50%;
    background-color: #fff;
    border-radius: 20px;
}

.modal-title{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal__title{
    font-weight: 700;
    font-size: 24px;
}

.modal-general-window form{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.modal-general-window label{
    display: flex;
    flex-direction: column;
}

.modal-general-window span{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.modal-general-window input{
    width: 40%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.modal-window-card{
    padding: 20px;
    width: 50%;
    background-color: #c6c4e783;
    border-radius: 20px;
    margin: 20px auto 30px;
}

.modal-card__code{
    width: 100% !important;
}

.modal-button-submit{
    padding: 15px 50px;
    width: 100%;
    border: none;
    background-color: #49d455;
    border-radius: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin: 0 auto;
}