* {
    margin: 0;
    padding: 0;
}

:root {
    --main-violet-color: #5350d8;
}

.main{
    overflow: hidden;
}

body {
    font-family: 'Play', sans-serif;
    font-weight: 400;
}

.wrapper {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    padding: 50px 60px;
    border-right: 3px solid var(--main-violet-color);
}

.logo {
    margin-bottom: 60px;
}

.logo img{
    width: 180px;
}

.nav-list,
.search-nav-list {
    list-style-type: none;
}

.navbar {
    margin-bottom: 40px;
}

nav a {
    text-decoration: none;
    color: #000;
    align-items: center;
    display: flex;
}

.nav-list__item{
    display: flex;
    align-items: center;
}

.nav-list li {
    margin-bottom: 20px;
    font-size: 1em;
}

.nav-list__title {
    margin-bottom: 30px;
}

.nav-list__image {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.basket-info div{
    font-weight: 400;
    font-size: 16px;
    color: rgb(73, 73, 73);
    text-align: end;
}

.filter-title {
    margin-bottom: 30px;
}

.filter-section {
    margin-bottom: 15px;
}

.filter__titles {
    font-weight: 700;
    margin-bottom: 10px;
}

.filter-cost-t-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter-cost-t-input input {
    width: 100px;
    height: 25px;
    border: 1px solid #5350d8;
    border-radius: 5px;
    background-color: transparent;
}

.filter-cost-r-input{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 30px;
}

.filter input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

.filter input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
.filter input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
.filter input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
.filter input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #5350d8;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
.filter input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #5350d8;
    pointer-events: auto;
}
.filter input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #5350d8;
    pointer-events: auto;
}
.filter input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #5350d8;
}

.values{
    background-color: #5350d8;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #5350d8;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

/* .filter-cost-r-input input {
    width: 100%;
}

.filter .filter-cost {
    position: relative;
    width: 250px;
    height: 10vh;
}

.filter .filter-cost-r-input input[type=range] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    border: none;
    border-radius: 14px;
    box-shadow: inset 0 1px 0 0 #bbbbbb, inset 0 -1px 0 0 #bbbbbb;
    -webkit-box-shadow: inset 0 1px 0 0 #bbbbbb, inset 0 -1px 0 0 #bbbbbb;
    overflow: hidden;
    left: 0;
    top: 70px;
    width: 250px;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0;
}

.filter .filter-cost-r-input input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-color: #5350d8;
}

.filter.filter-cost-r-input input[type=range]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-color: #5350d8;
}

.filter .filter-cost-r-input input[type=range]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
}

.filter .filter-cost-r-input input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: black;
    border: 0;
}

.filter .filter-cost-r-input input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none;
    border: 0;
}

.filter .filter-cost-r-input input[type=range]::-moz-focus-outer {
    border: 0;
} */

.filter-brand{
    display: flex;
    flex-direction: column;
}

.filter-brand label{
    margin-bottom: 5px;
    
}

.main {
    /* background-color: rgb(233, 233, 233); */
    height: 100%;
    padding: 0 50px;

}

.search {
    padding: 50px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 1 px solid #5350d8;
    margin-bottom: 40px; */
}

.search-label {
    display: flex;
    align-items: center;
}

.search-input {
    height: 60px;
    width: 35vh;
    border: none;
    background-color: rgba(211, 211, 211, 0.582);
    border-radius: 5vh;
    /* padding-right: 30vh; */
    margin-right: 10px;
    font-size: 14px;
    padding: 0 20px;
}

.search__image {
    width: 32px;
    height: 32px;
    background-color: #35c942;
    padding: 10px;
    border-radius: 50% 50% 10%;
}

.search-nav {
    display: flex;
    align-items: center;

}

.search-nav-list {
    display: flex;
    flex-direction: row;
}

.search-nav-list li {
    margin: auto 20px;
    font-weight: 700;
    font-size: 20px;
}

.goods__image {
    width: 80%;
}

.main-topic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.goods-section {
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 0 20px 20px;
}

.goods-section:hover{
    box-shadow: 0 -2px 4px 0 #231f200d, 0 4px 8px 0 #231f201a;
    scale: 1.008;
    transition: all 0.3s;
}

.goods-section__image {
    overflow: hidden;
    /* width: auto; */
    min-height: 300px;
    max-height: 300px;
    padding: 10%;
    border-radius: 5px 5px 0 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-section__title {
    display: grid;
    grid-template-columns: 1fr 1px;
    /* width: 100%; */
}

.goods-information {
    margin: 0 20px 20px;
}

.goods__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.goods-icon__basket {
    position: relative;
}

.goods__basket {
    display: inline-block;
    position: absolute;
    right: -25px;
    bottom: -15px;
    background-color: #35c942;
    padding: 10px;
    border-radius: 10% 50% 50%;
}

.goods__basket:hover,
.search__image:hover{
    background-color: #3bc046;
    cursor: pointer;
}

.goods__basket:active,
.search__image:active{
    background-color: #2fad3a;
    cursor:progress;
}

.label-apple{
    display: flex;
    align-items: center;
}

.checkbox{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.range-1 {
    position: absolute;

    appearance: none;
    width: 96%;
    margin: 2%;
    overflow: hidden;
    outline: none;
    background-size: 100% 2px;
    pointer-events: none;
}

.range-2 {
    appearance: none;
    width: 96%;
    margin: 2%;
    overflow: hidden;
    outline: none;
    background: linear-gradient(#5350d8,#5350d8) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;
    position: absolute;
}
.multi-range {
    position: relative;
    height: 2rem;
}

@media(max-width:1500px){
    .main-topic {
        grid-template-columns: repeat(2, 1fr);
    }
    .goods__basket {
        width: 40px;
    }
    .goods-section__image {
        min-height: 300px;
        padding: 0;
    }
    .search{
        flex-direction: column-reverse;
        align-items: center;
    }
    .search-nav{
        margin-bottom: 20px;
    }
}
@media(max-width:1100px){
    .main-topic {
        grid-template-columns: repeat(1, 1fr);
    }
    .search-nav-list{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:800px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .header{
        padding: 50px 10px 10px;
        background-color: white;
        border: none;
    }
    .main{
        padding: 0 10px;
    }
    .goods-and-filters{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .search-input {
        margin-right: 10px;
        width: 100%;
    }
}
@media(max-width:420px){
    .goods-and-filters{
        justify-content: left;
        margin-left: 30px;
    }
}
